body{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
img{
    width: 100%;
    height: 100%;
}
body{
    width: 100%;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: rgba(250, 72, 72, 0.823);
}
.ontop{
    width: 100%;
    height: 100%;
    position: absolute;
    background-color: rgba(228, 59, 59, 0.376);
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 10;
}
.ontop button{
    width: 200px;
    height: 100px;
    background-color: rgba(240, 248, 255, 0.751);
    color:rgb(110, 51, 8) ;
    font-size: 30px;
    border: none;
    border-radius: 8%;
    box-shadow: 5px 5px 5px 5px rgb(65, 35, 14) ;
}
.ontop button:hover{
    color:rgb(64, 31, 7) ;
    background-color: rgb(241, 205, 132);
    transition-duration: 0.5s;
}
.maincontiner{
    display: grid;
    grid-template-columns: 100px 100px 100px;
    grid-template-rows: 100px 100px 100px;
    overflow: hidden;
    position: relative;
    background-color: rgb(4, 153, 104);
}
.inside{
    border: 2px solid black ;
}
.two{
    display: none;
}
.one{
    display: none;
}
.line1{
    position: absolute;
    z-index: 2;
    width: 100%;
    display: none;
}
.line2{
    position: absolute;
    z-index: 2;
    width: 100%;
    margin-top: 33%;
    display: none;
}
.line3{
    position: absolute;
    z-index: 2;
    width: 100%;
    margin-top: 70%;
    display: none;
   
}
.line4{
    position: absolute;
    z-index: 2;
    transform: rotate(270deg);
    margin-top: 20%;
    margin-left: -60%;
 
     display: none;

}
.line5{
    position: absolute;
    z-index: 2;
    transform: rotate(270deg);
    margin-top: 20%;
    height: 60%;
    margin-right: -5%;
    display: none;
}
.line6{
    position: absolute;
    z-index: 2;
    transform: rotate(270deg);
    margin-top: 20%;
    margin-right: -70%;
    display: none;
}
.line7{
    position: absolute;
    z-index: 2;
    display: none;
}
.line8{
    position: absolute;
    z-index: 2;
    transform: rotate(90deg);

    display: none;
}
